# Welcome to the Algorithmic Trading Society at Imperial

This course will introduce you to Algorithmic trading and enable you to come up with your own strategies using Technical Analysis and Machine Learning.

In [1]:
! pip install yfinance

Requirement already satisfied: yfinance in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (0.1.77)
Requirement already satisfied: multitasking>=0.0.7 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.5.1 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (1.23.3)
Requirement already satisfied: pandas>=0.24.0 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: appdirs>=1.4.4 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: six>=1.5 in /Users/ad06/miniforge3/envs/tensorflow/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.15.0)

In [2]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

### Importing Stock Price Data from Yahoo Finance

In [5]:
ticker = ["AAPL", "BA", "KO", "GOOGL", "DIS", "XOM" ]

In [6]:
stocks = yf.download(ticker, start = "2012-01-01", end = "2022-09-06")
print(type(stocks))

[*********************100%***********************]  6 of 6 completed
<class 'pandas.core.frame.DataFrame'>

In [7]:
stocks.head()

                           Adj Close                                   \
                                AAPL         BA        DIS      GOOGL
Date
2012-01-03 00:00:00-05:00  12.540045  60.731098  34.300617  16.651901
2012-01-04 00:00:00-05:00  12.607438  60.821106  34.784096  16.723724
2012-01-05 00:00:00-05:00  12.747407  60.166500  35.366074  16.491741
2012-01-06 00:00:00-05:00  12.880664  60.534714  35.733170  16.266768
2012-01-09 00:00:00-05:00  12.860233  60.984753  35.589912  15.577077

                                                     Close             \
                                  KO        XOM       AAPL         BA
Date
2012-01-03 00:00:00-05:00  25.078629  55.358433  14.686786  74.220001
2012-01-04 00:00:00-05:00  24.921309  55.371292  14.765714  74.330002
2012-01-05 00:00:00-05:00  24.803326  55.203941  14.929643  73.529999
2012-01-06 00:00:00-05:00  24.645988  54.791973  15.085714  73.980003
2012-01-09 00:00:00-05:00  24.645988  55.036575  15.061786  74.529999

                                                 ...       Open             \
                                 DIS      GOOGL  ...        DIS      GOOGL
Date                                             ...
2012-01-03 00:00:00-05:00  38.310001  16.651901  ...  37.970001  16.339840
2012-01-04 00:00:00-05:00  38.849998  16.723724  ...  38.189999  16.642391
2012-01-05 00:00:00-05:00  39.500000  16.491741  ...  38.830002  16.569820
2012-01-06 00:00:00-05:00  39.910000  16.266768  ...  39.549999  16.495245
2012-01-09 00:00:00-05:00  39.750000  15.577077  ...  39.740002  16.178679

                                                    Volume                     \
                                  KO        XOM       AAPL       BA       DIS
Date
2012-01-03 00:00:00-05:00  35.075001  85.970001  302220800  6859300   9704200
2012-01-04 00:00:00-05:00  34.955002  85.790001  260022000  4923000   9889900
2012-01-05 00:00:00-05:00  34.880001  85.639999  271269600  6797900  14327100
2012-01-06 00:00:00-05:00  34.735001  85.919998  318292800  4779800  14401600
2012-01-09 00:00:00-05:00  34.500000  85.000000  394024400  4469600  12145200


                               GOOGL        KO       XOM
Date
2012-01-03 00:00:00-05:00  146912940  15639600  20906800
2012-01-04 00:00:00-05:00  114445440  14239200  16130900
2012-01-05 00:00:00-05:00  131184684  14287600  17452800
2012-01-06 00:00:00-05:00  107608284  13646600  15942100
2012-01-09 00:00:00-05:00  232671096  10522600  11664200

[5 rows x 36 columns]

In [8]:
stocks.tail()

                            Adj Close                                      \
                                 AAPL          BA         DIS       GOOGL
Date
2022-08-29 00:00:00-04:00  161.380005  165.419998  113.529999  109.419998
2022-08-30 00:00:00-04:00  158.910004  162.210007  112.430000  108.940002
2022-08-31 00:00:00-04:00  157.220001  160.250000  112.080002  108.220001
2022-09-01 00:00:00-04:00  157.960007  153.660004  112.529999  109.739998
2022-09-02 00:00:00-04:00  155.809998  151.820007  111.199997  107.849998

                                                       Close              \
                                  KO         XOM        AAPL          BA
Date
2022-08-29 00:00:00-04:00  62.275959  100.120003  161.380005  165.419998
2022-08-30 00:00:00-04:00  61.700157   96.309998  158.910004  162.210007
2022-08-31 00:00:00-04:00  61.263340   95.589996  157.220001  160.250000
2022-09-01 00:00:00-04:00  61.551243   93.870003  157.960007  153.660004
2022-09-02 00:00:00-04:00  60.707397   95.589996  155.809998  151.820007

                                                   ...        Open  \
                                  DIS       GOOGL  ...         DIS
Date                                               ...
2022-08-29 00:00:00-04:00  113.529999  109.419998  ...  112.540001
2022-08-30 00:00:00-04:00  112.430000  108.940002  ...  114.279999
2022-08-31 00:00:00-04:00  112.080002  108.220001  ...  112.870003
2022-09-01 00:00:00-04:00  112.529999  109.739998  ...  111.790001
2022-09-02 00:00:00-04:00  111.199997  107.849998  ...  113.050003

                                                               Volume  \
                                GOOGL         KO        XOM      AAPL
Date
2022-08-29 00:00:00-04:00  109.989998  62.689999  98.180000  73314000
2022-08-30 00:00:00-04:00  110.169998  62.910000  98.360001  77906200
2022-08-31 00:00:00-04:00  110.650002  62.380001  94.029999  87991100
2022-09-01 00:00:00-04:00  108.279999  61.580002  94.419998  74229900
2022-09-02 00:00:00-04:00  110.589996  62.389999  96.349998  76905200


                                BA      DIS     GOOGL        KO       XOM
Date
2022-08-29 00:00:00-04:00  4727600  6882700  21191200   9115900  23059200
2022-08-30 00:00:00-04:00  6248600  8060000  27513300   8456800  17086800
2022-08-31 00:00:00-04:00  4123500  7353000  28627000  14633600  18340900
2022-09-01 00:00:00-04:00  7652000  7718700  28360900  14939700  16423000
2022-09-02 00:00:00-04:00  5256200  8454500  24142000  11808900  18202600

[5 rows x 36 columns]

In [9]:
stocks.swaplevel(axis = 1).sort_index(axis = 1)

                                 AAPL                                      \
                            Adj Close       Close        High         Low
Date
2012-01-03 00:00:00-05:00   12.540045   14.686786   14.732143   14.607143
2012-01-04 00:00:00-05:00   12.607438   14.765714   14.810000   14.617143
2012-01-05 00:00:00-05:00   12.747407   14.929643   14.948214   14.738214
2012-01-06 00:00:00-05:00   12.880664   15.085714   15.098214   14.972143
2012-01-09 00:00:00-05:00   12.860233   15.061786   15.276786   15.048214
...                               ...         ...         ...         ...
2022-08-29 00:00:00-04:00  161.380005  161.380005  162.899994  159.820007
2022-08-30 00:00:00-04:00  158.910004  158.910004  162.559998  157.720001
2022-08-31 00:00:00-04:00  157.220001  157.220001  160.580002  157.139999
2022-09-01 00:00:00-04:00  157.960007  157.960007  158.419998  154.669998
2022-09-02 00:00:00-04:00  155.809998  155.809998  160.360001  154.970001

                                                          BA              \
                                 Open     Volume   Adj Close       Close
Date
2012-01-03 00:00:00-05:00   14.621429  302220800   60.731098   74.220001
2012-01-04 00:00:00-05:00   14.642857  260022000   60.821106   74.330002
2012-01-05 00:00:00-05:00   14.819643  271269600   60.166500   73.529999
2012-01-06 00:00:00-05:00   14.991786  318292800   60.534714   73.980003
2012-01-09 00:00:00-05:00   15.196429  394024400   60.984753   74.529999
...                               ...        ...         ...         ...
2022-08-29 00:00:00-04:00  161.149994   73314000  165.419998  165.419998
2022-08-30 00:00:00-04:00  162.130005   77906200  162.210007  162.210007
2022-08-31 00:00:00-04:00  160.309998   87991100  160.250000  160.250000
2022-09-01 00:00:00-04:00  156.639999   74229900  153.660004  153.660004
2022-09-02 00:00:00-04:00  159.750000   76905200  151.820007  151.820007

                                                   ...         KO             \
                                 High         Low  ...       High        Low
Date                                               ...
2012-01-03 00:00:00-05:00   75.000000   74.120003  ...  35.355000  35.049999
2012-01-04 00:00:00-05:00   74.599998   73.589996  ...  35.035000  34.750000
2012-01-05 00:00:00-05:00   73.900002   72.739998  ...  34.935001  34.674999
2012-01-06 00:00:00-05:00   74.269997   72.949997  ...  34.814999  34.310001
2012-01-09 00:00:00-05:00   74.870003   74.180000  ...  34.584999  34.400002
...                               ...         ...  ...        ...        ...
2022-08-29 00:00:00-04:00  166.899994  162.199997  ...  63.029999  62.410000
2022-08-30 00:00:00-04:00  169.919998  160.720001  ...  62.910000  61.990002
2022-08-31 00:00:00-04:00  163.550003  160.139999  ...  62.529999  61.700001
2022-09-01 00:00:00-04:00  158.899994  150.820007  ...  62.040001  61.290001
2022-09-02 00:00:00-04:00  156.990005  151.479996  ...  62.770000  60.900002

                                                       XOM              \
                                Open    Volume   Adj Close       Close
Date
2012-01-03 00:00:00-05:00  35.075001  15639600   55.358433   86.000000
2012-01-04 00:00:00-05:00  34.955002  14239200   55.371292   86.019997
2012-01-05 00:00:00-05:00  34.880001  14287600   55.203941   85.760002
2012-01-06 00:00:00-05:00  34.735001  13646600   54.791973   85.120003
2012-01-09 00:00:00-05:00  34.500000  10522600   55.036575   85.500000
...                              ...       ...         ...         ...
2022-08-29 00:00:00-04:00  62.689999   9115900  100.120003  100.120003
2022-08-30 00:00:00-04:00  62.910000   8456800   96.309998   96.309998
2022-08-31 00:00:00-04:00  62.380001  14633600   95.589996   95.589996
2022-09-01 00:00:00-04:00  61.580002  14939700   93.870003   93.870003
2022-09-02 00:00:00-04:00  62.389999  11808900   95.589996   95.589996


                                 High        Low       Open    Volume
Date
2012-01-03 00:00:00-05:00   86.669998  85.900002  85.970001  20906800
2012-01-04 00:00:00-05:00   86.150002  85.099998  85.790001  16130900
2012-01-05 00:00:00-05:00   85.949997  84.919998  85.639999  17452800
2012-01-06 00:00:00-05:00   86.000000  85.110001  85.919998  15942100
2012-01-09 00:00:00-05:00   85.639999  84.970001  85.000000  11664200
...                               ...        ...        ...       ...
2022-08-29 00:00:00-04:00  101.559998  98.139999  98.180000  23059200
2022-08-30 00:00:00-04:00   98.620003  95.820000  98.360001  17086800
2022-08-31 00:00:00-04:00   96.839996  93.589996  94.029999  18340900
2022-09-01 00:00:00-04:00   95.070000  92.290001  94.419998  16423000
2022-09-02 00:00:00-04:00   96.790001  95.110001  96.349998  18202600

[2686 rows x 36 columns]

In [ ]:
stocks.index = pd.to_datetime(stocks.index)

In [10]:
stocks.describe()

         Adj Close                                                      \
              AAPL           BA          DIS        GOOGL           KO
count  2686.000000  2686.000000  2686.000000  2686.000000  2686.000000
mean     54.142830   181.555566   102.385192    54.336943    39.231845
std      46.812075    96.528065    36.927703    35.067855     9.783698
min      12.084599    55.668327    34.300617    13.990240    23.952343
25%      21.706307   111.967211    81.061457    27.741126    31.577827
50%      34.027491   146.006500   101.098793    46.345999    37.015142
75%      65.554085   239.694996   119.142500    64.803499    46.219429
max     181.259918   430.299988   201.910004   149.838501    65.259270

                          Close                                         ...  \
               XOM         AAPL           BA          DIS        GOOGL  ...
count  2686.000000  2686.000000  2686.000000  2686.000000  2686.000000  ...
mean     60.243930    55.996131   191.371724   105.849795    54.336943  ...
std      10.488610    46.213642    94.444024    35.126263    35.067855  ...
min      26.984409    13.947500    67.239998    38.310001    13.990240  ...
25%      57.136429    24.000625   127.797501    87.697498    27.741126  ...
50%      60.725822    36.013750   153.785004   105.244999    46.345999  ...
75%      64.473459    66.803125   241.422501   119.972502    64.803499  ...
max     103.583549   182.009995   440.619995   201.910004   149.838501  ...

              Open                                               Volume  \
               DIS        GOOGL           KO          XOM          AAPL
count  2686.000000  2686.000000  2686.000000  2686.000000  2.686000e+03
mean    105.890231    54.333468    45.814114    78.592502  2.070854e+08
std      35.201175    35.077147     7.004339    15.537361  1.731129e+08
min      37.970001    14.022523    33.645000    31.410000  4.100000e+07
25%      87.955002    27.781447    40.790001    73.200001  9.712100e+07
50%     105.180000    46.269251    44.060001    82.514999  1.429178e+08
75%     120.092503    64.644247    49.704999    88.467501  2.536244e+08
max     200.190002   151.250000    67.000000   104.419998  1.506120e+09


                 BA           DIS         GOOGL            KO           XOM
count  2.686000e+03  2.686000e+03  2.686000e+03  2.686000e+03  2.686000e+03
mean   7.730476e+06  9.253209e+06  4.888801e+07  1.440832e+07  1.630800e+07
std    9.741981e+06  5.858615e+06  3.589928e+07  6.292427e+06  9.230647e+06
min    7.889000e+05  2.165700e+06  9.312000e+06  2.996300e+06  3.851300e+06
25%    3.215675e+06  6.164725e+06  2.771200e+07  1.050965e+07  1.027122e+07
50%    4.516400e+06  7.709850e+06  3.641700e+07  1.307495e+07  1.350935e+07
75%    7.732650e+06  1.018708e+07  5.897850e+07  1.653132e+07  1.903222e+07
max    1.032128e+08  8.741070e+07  4.971983e+08  9.896750e+07  8.474780e+07

[8 rows x 36 columns]

In [ ]:
close = stocks.loc[:, "Close"].copy()

In [ ]:
close

In [ ]:
close.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

### Time Series Analysis

A time series is a sequence of data points that occur in successive order over some period of time.
In investing, a time series tracks the movement of the chosen data points, such as a security’s price, over a specified period of time with data points recorded at regular intervals. There is no minimum or maximum amount of time that must be included, allowing the data to be gathered in a way that provides the information being sought by the investor or analyst examining the activity.
Here, We have chosen the close price of the stocks as mentioned above to carry out various forecasting methods.

##### Normalizing Time Series to a Base Value

Normalizing the time series helps us compare the performance of the securities starting at different price levels.

In [ ]:
close.head()

In [ ]:
close.iloc[0,0]

In [ ]:
close.AAPL.div(close.iloc[0,0]).mul(100)

In [ ]:
close.iloc[0]

In [ ]:
norm = close.div(close.iloc[0]).mul(100)
norm

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

##### Shift method

In [ ]:
close.head()

In [ ]:
aapl = close.AAPL.copy().to_frame()

In [ ]:
aapl.head()

In [ ]:
aapl.shift(periods = 1)

In [ ]:
aapl["lag1"] = aapl.shift(periods = 1)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl["Diff"] = aapl.AAPL.sub(aapl.lag1)

In [ ]:
aapl.head()

In [ ]:
aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl["pct_change"] = aapl.AAPL.div(aapl.lag1).sub(1).mul(100)

In [ ]:
aapl.head()

### Measuring Stock Returns with Mean and Standard Deviation

In [ ]:
aapl = close.AAPL.copy().to_frame()

In [ ]:
aapl.head()

In [ ]:
aapl.pct_change().dropna()

In [ ]:
ret = aapl.pct_change().dropna()
ret.head()

In [ ]:
ret.info()

In [ ]:
ret.plot(kind = "hist", figsize = (12 ,8), bins = 100)
plt.show()

In [ ]:
daily_mean_Return = ret.mean()
daily_mean_Return

In [ ]:
var_daily_Returns = ret.var()
var_daily_Returns

In [ ]:
std_daily_Returns = np.sqrt(var_daily_Returns)
std_daily_Returns

In [ ]:
ret.std()

In [ ]:
ann_mean_Return = ret.mean() * 252
ann_mean_Return

In [ ]:
ann_var_Returns = ret.var() * 252
ann_var_Returns

In [ ]:
ann_std_Returns = np.sqrt(ann_var_Returns)
ann_std_Returns

In [ ]:
ret.std() * np.sqrt(252)

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

In [ ]:
close.head()

In [ ]:
close.pct_change().dropna()

In [ ]:
ret = close.pct_change().dropna()

In [ ]:
ret.head()

In [ ]:
ret.describe().T.loc[:, ["mean", "std"]]

In [ ]:
summary = ret.describe().T.loc[:, ["mean", "std"]]
summary

In [ ]:
summary["mean"] = summary["mean"]*252
summary["std"] = summary["std"] * np.sqrt(252)

In [ ]:
summary

In [ ]:
summary.plot(kind = "scatter", x = "std", y = "mean", figsize = (15,12), s = 50, fontsize = 15)
for i in summary.index:
    plt.annotate(i, xy=(summary.loc[i, "std"]+0.002, summary.loc[i, "mean"]+0.002), size = 15)
plt.xlabel("ann. Risk(std)", fontsize = 15)
plt.ylabel("ann. Return", fontsize = 15)
plt.title("Risk/Return", fontsize = 20)
plt.show()

### Covariance and Correlation

In [ ]:
ret.head()

In [ ]:
ret.cov()

In [ ]:
ret.corr()

In [ ]:
import seaborn as sns

plt.figure(figsize=(12,8))
sns.set(font_scale=1.4)
sns.heatmap(ret.corr(), cmap = "Reds", annot = True, annot_kws={"size":15}, vmax = 0.6)
plt.show()

### Simple Returns vs Log Returns

In [ ]:
df = pd.DataFrame(index = [2016, 2017, 2018], data = [100, 50, 95], columns = ["Price"])

In [ ]:
df

In [ ]:
simple_returns = df.pct_change().dropna()
simple_returns

In [ ]:
simple_returns.mean()

In [ ]:
100 * 1.2 * 1.2

In [ ]:
df

In [ ]:
np.log(df / df.shift(1))

In [ ]:
log_returns = np.log(df / df.shift(1)).dropna()

In [ ]:
log_returns

In [ ]:
log_returns.mean()

In [ ]:
100 * np.exp(2 * log_returns.mean())

### Simple Moving Averages

In [11]:
SP500 = yf.download("^GSPC", start = "2012-01-01", end = "2022-09-06")

[*********************100%***********************]  1 of 1 completed

In [12]:
SP500.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-01-03 00:00:00-05:00,1258.859985,1284.619995,1258.859985,1277.060059,1277.060059,3943710000
2012-01-04 00:00:00-05:00,1277.030029,1278.729980,1268.099976,1277.300049,1277.300049,3592580000
2012-01-05 00:00:00-05:00,1277.300049,1283.050049,1265.260010,1281.060059,1281.060059,4315950000
2012-01-06 00:00:00-05:00,1280.930054,1281.839966,1273.339966,1277.810059,1277.810059,3656830000
2012-01-09 00:00:00-05:00,1277.829956,1281.989990,1274.550049,1280.699951,1280.699951,3371600000

In [13]:
SP500.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-08-29 00:00:00-04:00,4034.580078,4062.989990,4017.419922,4030.610107,4030.610107,2963020000
2022-08-30 00:00:00-04:00,4041.250000,4044.979980,3965.209961,3986.159912,3986.159912,3190580000
2022-08-31 00:00:00-04:00,4000.669922,4015.370117,3954.530029,3955.000000,3955.000000,3797860000
2022-09-01 00:00:00-04:00,3936.729980,3970.229980,3903.649902,3966.850098,3966.850098,3754570000
2022-09-02 00:00:00-04:00,3994.659912,4018.429932,3906.209961,3924.260010,3924.260010,4134920000

In [14]:
SP500.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2686 entries, 2012-01-03 00:00:00-05:00 to 2022-09-02 00:00:00-04:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2686 non-null   float64
 1   High       2686 non-null   float64
 2   Low        2686 non-null   float64
 3   Close      2686 non-null   float64
 4   Adj Close  2686 non-null   float64
 5   Volume     2686 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 146.9 KB

In [ ]:
SP500 = SP500.Close.to_frame()

In [ ]:
SP500.head()

In [ ]:
SP500.plot(figsize = (12,8), fontsize= 15)
plt.legend(loc = "upper left", fontsize = 15)
plt.show()

In [ ]:
SP500.rolling(window = 10)

In [ ]:
type(SP500.rolling(window = 10))

In [ ]:
SP500.head(15)

In [ ]:
SP500.rolling(window = 10).mean()

In [ ]:
SP500.rolling(window = 10).median()[:20]

In [ ]:
SP500.rolling(window = 10, min_periods=5).mean()

In [ ]:
SP500["SMA50"] = SP500.rolling(window = 50, min_periods=50).mean()

In [ ]:
SP500.plot(figsize = (12, 8), fontsize = 15)
plt.legend(loc = "upper left", fontsize = 15)
plt.show()

In [ ]:
SP500["SMA200"] = SP500.Close.rolling(window = 200).mean()

In [ ]:
SP500.plot(figsize = (15,10), fontsize= 15)
plt.legend(fontsize = 15)
plt.show()